<div class="container">
  <h1>VIVIAN</h1>
  <iframe src="https://pruebavivian.s3.amazonaws.com/index.html" width="100%" height="600"
    style="border: none; overflow: hidden;" scrolling="no" allowfullscreen></iframe>

  <div class="buttons">
    <button routerLink="/audio" class="btn btn-primary">
      Grabar audio <i class="fas fa-microphone"></i>
    </button>
    <button routerLink="/write" class="btn btn-secondary">
      Escribir <i class="fas fa-keyboard"></i>
    </button>
  </div>
</div>