
<div class="container">
  <button routerLink="/" class="btn btn-back">Regresar</button>
  <h1>VIVIAN</h1>
  <img src="assets/avatar-placeholder.png" alt="Avatar" class="avatar" />
  <div>
    <h1>Procesar Texto a Señas</h1>
    <textarea [(ngModel)]="inputText" placeholder="Escribe algo aquí"></textarea>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    <button (click)="sendText()">Enviar</button>
    <button (click)="clearText()">Limpiar</button>
  </div>
  
  <div *ngIf="result">
    <h2>Resultado:</h2>
    <p>{{ result }}</p>
  </div>
  
