<div class="container">
  <button routerLink="/" class="btn btn-back">Regresar</button>
  <h1>VIVIAN</h1>
  <iframe src="https://pruebavivian.s3.amazonaws.com/index.html" width="100%" height="600"
    style="border: none; overflow: hidden;" scrolling="no" allowfullscreen></iframe>
  <div class="controls">
    <textarea [(ngModel)]="inputText" placeholder="Escribe texto aquí..."></textarea>
    <div class="buttons">
      <button (click)="clearText()" class="btn btn-secondary">Borrar <i class="fas fa-trash"></i></button>
      <button (click)="sendText()" class="btn btn-primary">Enviar</button>
    </div>
  </div>
  <!-- Aquí se mostrará el resultado -->
  <p *ngIf="result">Resultado: {{ result }}</p>
</div>